<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>hckrn.ws</title>
    <meta content='user-scalable=no width=device-width' name='viewport' />
    <script src='/static/js/jquery.min.js'></script>
    <!-- %link(rel="stylesheet" type="text/css" href="/static/css/reset-min.css") -->
    <link href='/static/css/style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id='content'>
      <div class='title'>
        <h1>HCKRN.WS</h1>
        <ul>
          <li>foo</li>
          <li>baz</li>
          <li>bar</li>
        </ul>
        {{title}} spends {{calc}}
        {{#truthy}} I will be visible if condition is true {{/truthy}}
        {{#falsy}} I will be visible if condition is true {{/falsy}}
      </div>
    </div>
  </body>
</html>
