%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title hckrn.ws
    %meta(name="viewport" content="user-scalable=no width=device-width")
    %script(src="/static/js/jquery.min.js")
    %link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    %link(rel="icon" href="/static/img/h.ico")

  %body

    #content
      #title_bar
        #logo
          HNM
        %h2 
          HCKRN.WS &#124;
        %a(href="")
          %h6 (news.ycombinator.org)--

      %ol
        {{#items}} 
        %li
          %a(href="{{link}}")
            %span {{title}} 
          %br
          %span.link_detail.offw
            %span 
              {{ domain }}  &#124;
            %span
              %a(href="{{comments}}")
                comments
          %br
        {{/items}}

      %a.next(href="{{nextPage}}")
        More

      .bottom_bar
        &nbsp;


